<div class="content">
  <div class="button-bar">
    <button _ngcontent-utq-c135="" mat-raised-button="" class="mat-focus-indicator mat-raised-button mat-button-base"
            (click)="addProduct()">
      <span class="mat-button-wrapper">Add</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </button>
    <button _ngcontent-utq-c135="" mat-raised-button="" class="mat-focus-indicator mat-raised-button mat-button-base"
            [disabled]="!selectedProduct"
            (click)="editProduct(selectedProduct)">
      <span class="mat-button-wrapper">Edit</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span>
    </button>
    <button _ngcontent-utq-c135="" mat-raised-button="" class="mat-focus-indicator mat-raised-button mat-button-base"
            [disabled]="!selectedProduct"
            (click)="deleteProduct(selectedProduct)">
      <span class="mat-button-wrapper">Delete</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span>
    </button>
  </div>
  <mat-table matSort  [dataSource]="products" class="ng-star-inserted">
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> productName </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantityPerUnit">
      <mat-header-cell *matHeaderCellDef> quantityPerUnit </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.quantityPerUnit}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="unitPrice">
      <mat-header-cell *matHeaderCellDef> unitPrice </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.unitPrice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitsInStock">
      <mat-header-cell *matHeaderCellDef> unitsInStock </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.unitsInStock}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitsOnOrder">
      <mat-header-cell *matHeaderCellDef> unitsOnOrder </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.unitsOnOrder}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="reorderLevel">
      <mat-header-cell *matHeaderCellDef> reorderLevel </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.reorderLevel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="discontinued">
      <mat-header-cell *matHeaderCellDef> discontinued </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.discontinued}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> category </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.category ? product.category.categoryName : ""}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <mat-header-cell *matHeaderCellDef> supplier </mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.supplier ? product.supplier.companyName : ""}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['productName','quantityPerUnit','unitPrice','unitsInStock','unitsOnOrder','reorderLevel','discontinued','category','supplier'] sticky: true"></mat-header-row>
    <mat-row *matRowDef="let product; columns['productName','quantityPerUnit','unitPrice','unitsInStock','unitsOnOrder','reorderLevel','discontinued','category','supplier']"
             (click)="selectProduct(product)"
             [ngClass]="{'highlightTableColor': selectedProduct == product}"></mat-row>
  </mat-table>
  <div style="display: flex; justify-content: center; align-items: center; background: white;" *ngIf="!products">
    <mat-spinner></mat-spinner>
  </div>
</div>
