<app-product *ngIf="selectedProduct" [model]="selectedProduct"></app-product>
<div>
  <button type="button" class="btn btn-primary" (click)="addProduct()">Add</button>
  <button type="button" class="btn btn-primary" [disabled]="!selectedProduct">Edit</button>
  <button type="button" class="btn btn-primary" [disabled]="!selectedProduct" (click)="deleteProduct(selectedProduct.productId)">Delete</button>
</div>

<table class="table table-hover" >
  <thead>
  <th scope="col">
    productName
  </th>
  <th scope="col">
    quantityPerUnit
  </th>
  <th  scope="col">
    unitPrice
  </th>
  <th  scope="col">
    unitsInStock
  </th>
  <th  scope="col">
    unitsOnOrder
  </th>
  <th  scope="col">
    reorderLevel
  </th>
  <th  scope="col">
    discontinued
  </th>
  <th  scope="col">
    category
  </th>
  <th  scope="col">
    supplier
  </th>
  </thead>
  <tbody>
  <tr *ngIf="!products">
    <td colspan="10">Loading</td>
  </tr>
  <tr *ngFor="let product of products" (click)="selectProduct(product)" [ngClass]="{'table-active': product === selectedProduct}">
    <td>
      {{product.productName}}
    </td>
    <td>
      {{product.quantityPerUnit}}
    </td>
    <td>
      {{product.unitPrice}}
    </td>
    <td>
      {{product.unitsInStock}}
    </td>
    <td>
      {{product.unitsOnOrder}}
    </td>

    <td>
      {{product.reorderLevel}}
    </td>

    <td>
      {{product.discontinued}}
    </td>
    <td>
      {{product.category.categoryName}}
    </td>
    <td>
      {{product.supplier.companyName}}
    </td>
  </tr>
  </tbody>
</table>
<div>
</div>


