<div class="container">
  <div class="form-group">
    <label>productName:</label>
    <input  class="form-control" type="text" [(ngModel)]="model.productName"/>
  </div>
  <div class="form-group">
    <label >category:</label>
    <select>
      <option *ngFor="let category of categories">
        {{category.categoryName}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>quantityPerUnit:</label>
    <input class="form-control" type="text" [(ngModel)]="model.quantityPerUnit" />
  </div>
  <div class="form-group">
    <label>unitPrice:</label> 
    <input class="form-control" type="number" [(ngModel)]="model.unitPrice" />
  </div>
  <div class="form-group">
    <label>unitsInStock:</label>
    <input  class="form-control" type="number" [(ngModel)]="model.unitsInStock"/>
  </div>
  <div class="form-group">
    <label>unitsOnOrder:</label>
    <input class="form-control" type="number" [(ngModel)]="model.unitsOnOrder"/>
  </div>
  <div class="form-group">
    <label >reorderLevel:</label>
    <input class="form-control"  type="number" [(ngModel)]="model.reorderLevel" />
  </div>
  <div class="form-group form-check">
    <input class="form-check-input"  type="checkbox" [(ngModel)]="model.discontinued" /><label>discontinued</label>
  </div>
</div>


